<div class="card cal-slider__item cal-slider__item--match cal-slider__item--future cal-slider__item--next cal-slider__item--home">
  <div class="cal-slider__item-header cal-slider__item-header--next">
    <div class="cal-slider__item-team cal-slider__item-team--home">
      <img src="//resources.fcbarcelona.pulselive.com/badges/club/88/BCN@x2.png" alt="FC Barcelona" class="cal-slider__item-crest cal-slider__item-crest--home">
      <div class="cal-slider__item-teamname cal-slider__item-teamname--home">
        FC Barcelona
      </div>
    </div>
    <div _ngcontent-ng-c2636326439="" class="rm-game__competitions ng-star-inserted"><img _ngcontent-ng-c2636326439="" rmadobeimage="" tpl="Mobile" aria-hidden="true" class="rm-game__competition rm-game__competition--match ng-star-inserted" alt="Liga Endesa" title="Liga Endesa" loading="lazy" fetchpriority="auto" src="https://publish-p47754-e237306.adobeaemcloud.com/content/dam/common/statics/public-content/competition/basket/6j5h07ex45at2psbahsly28vc_dark.app.svg?$Mobile$&amp;wid=144&amp;hei=144"><!----><div _ngcontent-ng-c2636326439="" class="rm-game__result ng-star-inserted"><span _ngcontent-ng-c2636326439="" class="rm-game__goals rm-game__goals--home">89</span><span _ngcontent-ng-c2636326439="" class="rm-game__separator ng-star-inserted">-</span><!----><span _ngcontent-ng-c2636326439="" class="rm-game__goals rm-game__goals--away">100</span></div><!----><!----></div>
    <div class="cal-slider__item-team cal-slider__item-team--away">
      <img src="//resources.fcbarcelona.pulselive.com/badges/club/88/BVB@x2.png" alt="Borussia Dortmund" class="cal-slider__item-crest cal-slider__item-crest--away">
      <div class="cal-slider__item-teamname cal-slider__item-teamname--away">
        Borussia Dortmund
      </div>
    </div>

    <div class="cal-slider__item-next">
      <span class="cal-slider__item-next-text">
        Próximo partido
      </span>
    </div>
  </div>
  <div class="cal-slider__item-body">
  <div class="cal-slider__item-info">
    <div class="cal-slider__item-date">
    miércoles, 9 de abril, 21:00 CET
      </div>
    <div class="cal-slider__item-competition">
    Liga de Campeones</div><div class="cal-slider__item-venue">                        Estadi Olímpic Lluís Companys                                            </div></div><div class="cal-slider__item-actions"><div class="cal-slider__item-action"><a href="/es/partidos/124770/fc-barcelona-borussia-dortmund-liga-de-campeones-2024-25" class="cal-slider__item-link cal-slider__item-list--matchcenter">Ficha del partido</a><a href="https://go.fcbarcelona.com/FCBARCELONA/CALENDARIREG/QUARTSDEFINALCHL2425/ES" class="cal-slider__item-btn cal-slider__item-btn--main">Entradas</a></div></div></div></div>


