<div class="container ">
	<!-- code here -->
	<div class="match mt-5 mb-5 ">

		<div class="flex flex-wrap match-header " style="width: 100%">
			<div class="flex align-items-center justify-content-center font-bold m-2 border-round " >

				<div class="match-status flex w-100">{{titulo}}</div>

			</div>
			<div class="flex   align-items-center  justify-content-center font-bold m-2 border-round" >

				<div class="match-tournament "><img src="https://assets.codepen.io/285131/pl-logo.svg" /><h5>English Premier League</h5></div>

			</div>
		
		</div>

	
		<div class="match-content">
			<div class="column">
				<div class="team team--home">
					<div class="team-logo">
						<img src="../../../../../assets/imagenes/C-Baloncesto-Santomera-2.png" />
					</div>
					<h2 class="team-name">Econex C.B. Santomera</h2>
				</div>
			</div>
			<div class="column">
				<div class="match-details">
					<div class="match-date match-referee">
						12 Aug at <strong>19:00</strong>
					</div>
					<div class="match-score">
						<span class="match-score-number match-score-number--leading">-</span>
						<span class="match-score-divider">:</span>
						<span class="match-score-number">-</span>
					</div>
					<div class="match-time-lapsed">
						72'
					</div>
					<div class="match-referee">
						Referee: <strong>Joseph Hicks</strong>
					</div>
					<div class="match-bet-options">
						
					</div>
				
				</div>
			</div>
			<div class="column">
				<div class="team team--away">
					<div class="team-logo">
						<img src="https://assets.codepen.io/285131/chelsea.svg" />
					</div>
					<h2 class="team-name">Chelsea</h2>
				</div>
			</div>
		</div>
	</div>
</div>
