



<div class="standings clean-table">
  <h2></h2>
  <table>
    <thead>
      <tr>
        <th></th>
        <th>PT</th>
        <th>PJ</th>
        <th>V</th>
        <th>E</th>
        <th>D</th>
        <th>DG</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="team-cell"> <p>1</p><img src="https://assets.realmadrid.com/is/image/realmadrid/agh9ifb2mw3ivjusgedj7c3fe?$Mobile$&amp;fit=wrap&amp;wid=100&amp;hei=100" alt="Real Madrid"> <span>Real Madrid</span></td>
        <td>12</td>
        <td>4</td>
        <td>4</td>
        <td>0</td>
        <td>0</td>
        <td>+6</td>
      </tr>
      <tr>
        <td class="team-cell"><p>2</p> <img src="https://assets.realmadrid.com/is/image/realmadrid/3kq9cckrnlogidldtdie2fkbl?$Mobile$&amp;fit=wrap&amp;wid=100&amp;hei=100" alt="Barcelona"> <span>Barcelona</span></td>
        <td>10</td>
        <td>4</td>
        <td>3</td>
        <td>1</td>
        <td>0</td>
        <td>+10</td>
      </tr>
      <!-- … demás filas … -->
    </tbody>
  </table>
</div>
<style>
  
</style>

