<div class="match mt-5">
  <div class="match-header">
    <div class="match-status">Próximo Partido</div>
    <div class="match-tournament "><img src="https://assets.codepen.io/285131/pl-logo.svg" />1ª División Masculina</div>
    <div class="match-actions">
      <button class="btn-icon"><i class="material-icons-outlined"></i></button>
      <button class="btn-icon"><i class="material-icons-outlined"></i></button>
    </div>
  </div>
  <div class="match-content">
    <div class="column">
      <div class="team team--home">
        <div class="team-logo1">
          <img src="../../../../../assets/imagenes/C-Baloncesto-Santomera-2.png" />
        </div>
        <h2 class="team-name">ECONEX C.B. SANTOMERA</h2>
      </div>
    </div>
    <div class="column">
      <div class="match-details">
        <div class="match-date">
          <strong>Jornada 1</strong>
        </div>
        <div class="match-score">
          <span class="match-score-number match-score-number--leading">-</span>
          <span class="match-score-divider">:</span>
          <span class="match-score-number">-</span>
        </div>
        <div class="match-time-lapsed">
          <strong>10/10/2025 19:00</strong>
        </div>
        <div class="match-referee">
          <strong></strong>
        </div>
        <div class="match-bet-options">

          Pabellón Municipal

        </div>

      </div>
    </div>
    <div class="column">
      <div class="team team--away">
        <div class="team-logo1">
          <img src="../../../../../assets/imagenes/sanjose.png" />
        </div>
        <h2 class="team-name">San José</h2>
      </div>
    </div>
  </div>
</div>

