<div class="container">
  <div class="card1">
    <div class="card-wrapper">
      <div class="card-item">
        <figure class="card-image">
          <img src="https://cdn.pixabay.com/photo/2021/02/06/09/14/bright-5987558_960_720.jpg" alt="...">
        </figure>
        <a class="card-content" href="https://prototurk.com/soru/3764-css-ile-resim-golgelendirmesini-nasil-yaparim">
          <span class="card-tags">Prototurk</span>
          <h2 class="card-title">CSS ile resim gölgelendirmesini nasıl yaparım?</h2>
          <footer class="card-footer">
            
            <time class="card-time">
              <svg class="icon icon-time">
                <use xlink:href="#icon-time"></use>
              </svg>
              Dec 13, 2021
            </time>
            <span class="card-comment">
              <svg class="icon icon-comment">
                <use xlink:href="#icon-comment"></use>
              </svg>
              120
            </span>
          </footer>
        </a>
      </div>
    </div>
  </div>
</div>

<svg style="position: absolute; width: 0; height: 0; overflow: hidden;" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
  <defs>
    <symbol id="icon-comment" viewBox="0 0 24 24">
      <path fill="none" d="M0 0h24v24H0z" />
      <path d="M5.455 15L1 18.5V3a1 1 0 0 1 1-1h15a1 1 0 0 1 1 1v12H5.455zm-.692-2H16V4H3v10.385L4.763 13zM8 17h10.237L20 18.385V8h1a1 1 0 0 1 1 1v13.5L17.545 19H9a1 1 0 0 1-1-1v-1z" />
    </symbol>

    <symbol id="icon-time" viewBox="0 0 24 24">
      <path fill="none" d="M0 0h24v24H0z" />
      <path d="M12 22C6.477 22 2 17.523 2 12S6.477 2 12 2s10 4.477 10 10-4.477 10-10 10zm0-2a8 8 0 1 0 0-16 8 8 0 0 0 0 16zm1-8h4v2h-6V7h2v5z" />
    </symbol>
  </defs>
</svg>
