

<app-cabecera-titulo [titulo]="titulo"></app-cabecera-titulo>
<div class="container mt-5">

  <form action="">

    <div class="row">
      <div class="col-25">
        <label for="fname">Nombre</label>
      </div>
      <div class="col-75">
        <input type="text" id="fname" name="firstname" placeholder="Nombre..">
      </div>
    </div>

    <div class="row">
      <div class="col-25">
        <label for="lname">Apellidos</label>
      </div>
      <div class="col-75">
        <input type="text" id="lname" name="lastname" placeholder="Apellidos..">
      </div>
    </div>

    <div class="row">
      <div class="col-25">
        <label for="email">Correo</label>
      </div>
      <div class="col-75">
        <input type="email" id="email" name="email" placeholder="Correo..">
      </div>
    </div>

  

    <div class="row">
      <div class="col-25">
        <label for="subject">Mensaje</label>
      </div>
      <div class="col-75">
        <textarea id="subject" name="subject" placeholder="Escribe el mensaje.." style="height:200px"></textarea>
      </div>
    </div>

    <div class="row">
      <button>Enviar</button>
    </div>

  </form>
</div>


