<div class="">
  <div class="c1 mb-5">

    <app-novedades></app-novedades>
  </div>

</div>
<!--D
<div class=" mt-5 mb-5 container">
  <app-cabeceratitulo2 [titulo]="partidos"></app-cabeceratitulo2>

  <app-partido-carrousel></app-partido-carrousel>
  <app-resultados-carousel></app-resultados-carousel>
</div>
-->
<div class="container">

  <div class="c1">



  </div>
  <div class="2col">
    <div class="c2">
      <div class=" mt-5 mb-5 container">
        <app-cabeceratitulo2 [titulo]="noticias"></app-cabeceratitulo2>

      </div>
      <app-noticias-carrousel></app-noticias-carrousel>


    </div>
    <!--<div class="c3 container">

      <app-clasificacion-corta></app-clasificacion-corta>

    </div>

     -->
  </div>

  <div class="c1">
    <div class="nine mt-5 container">
      <div class=" mt-5 mb-5 container">
        <app-cabeceratitulo2 [titulo]="multimedia"></app-cabeceratitulo2>

      </div>
    </div>
    <app-album-carrousel-view></app-album-carrousel-view>

  </div>


</div>
