




<header>

  <div class="nav ">
    <div class="navbar-left">
      <div class="three col "(click)="toggleClass()">
        <div class="hamburger" [class.is-active]="visible" id="hamburger-6">
          <span class="line"></span>
          <span class="line"></span>
          <span class="line"></span>
        </div>
      </div>
      <div class="logo">
        <img src="../assets/imagenes/C-Baloncesto-Santomera-2.png" alt="Image"/>

      </div>

    </div>

    <div class="navbar-center">
      <!--<div class="titulo">
      <h1 class="font-bold">CLUB BALONCESTO SANTOMERA</h1>
    </div>
    -->
      <nav class="nav-links">
        <ul class="navbar-nav flex-grow">
          <li class="nav-item "
              [routerLinkActive]="['link-active']"
              [routerLinkActiveOptions]="{ exact: true }">
            <a class="nav-link " [routerLink]="['/Inicio']">INICIO</a>
          </li>
          <li  class="nav-item"
                [routerLinkActive]="['link-active']"
                [routerLinkActiveOptions]="{ exact: false }">
                <a class="nav-link" [routerLink]="['/Club']">CLUB</a>
          </li>


          <li class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link  " [routerLink]="['/Equipo']">EQUIPO</a>
          </li>

          <li class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link  " [routerLink]="['/Tienda']">TIENDA</a>
          </li>
          <li class="nav-item " [routerLinkActive]="['link-active']">
            <a class="nav-link" [routerLink]="['/Empresas']">EMPRESAS</a>
          </li>
         <!-- <li class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link " [routerLink]="['/Unete']">ÚNETE</a>
          </li>
-->

        </ul>
      </nav>

    </div>

    <div class="right">
      <div class="navbar-right">
        <div class="social div1">
          <p-image src="assets/imagenes/instagram_icon.png" alt="Image" width="60"></p-image>
          <p-image src="assets/imagenes/twitter_icon.png" alt="Image" width="60"></p-image>
          <p-image src="assets/imagenes/youtube_icon.png" alt="Image" width="60"></p-image>
        </div>
        <div class="social div2">

        </div>
        <div class="social div3">

        </div>
        <div class="social div4">

        </div>
      </div>
    </div>


  </div>








</header>

<app-aside [(isOpen)]="visible"></app-aside>
<!--
<header class="main-header">


<h1 class="title">CLUB BALONCESTO SANTOMERA</h1>

<nav class="nav-links">
  <ul class="navbar-nav flex-grow">
    <li class="nav-item pe-5" [routerLinkActive]="['link-active']" [routerLinkActiveOptions]="{ exact: true }">
      <a class="nav-link" [routerLink]="['/Inicio']">INICIO</a>
    </li>
    <li class="nav-item me-5" [routerLinkActive]="['link-active']">
      <a class="nav-link text-light" [routerLink]="['/Club/Portada']">CLUB</a>
    </li>
    <li class="nav-item me-5" [routerLinkActive]="['link-active']">
      <a class="nav-link text-light" [routerLink]="['/Equipo']">EQUIPO</a>
    </li>
    <li class="nav-item me-5" [routerLinkActive]="['link-active']">
      <a class="nav-link text-light" [routerLink]="['/Tienda']">TIENDA</a>
    </li>
    <li class="nav-item me-5" [routerLinkActive]="['link-active']">
      <a class="nav-link text-light" [routerLink]="['/Empresas']">EMPRESAS</a>
    </li>
    <li class="nav-item me-5" [routerLinkActive]="['link-active']">
      <a class="nav-link text-light" [routerLink]="['/Unete']">ÚNETE</a>
    </li>
  </ul>
</nav>
</header>

-->
