<div class="main mb-5 mt-5">
  <h1>MIS JUGADORES</h1>
  <ul class="cards">

    <li class="cards_item">
      <div class="card">
        <div class="card_image"><img src="https://localhost:7102/archivos/Jugadores/male_default_profile.png"></div>
        <div class="card_content">
          <h2 class="card_title">DANIEL </h2>
          <p class="card_text">CADETE MASCULINO</p>

        </div>
      </div>
    </li>
    <li class="cards_item">
      <div class="card">
        <div class="card_image"><img src="https://localhost:7102/archivos/Jugadores/male_default_profile.png"></div>
       
          <div class="card_content ">
            <h2 class="card_title">ROBERTO</h2>

            <p class="card_text">INFANTIL MASCULINO</p>
          </div>
        </div>
</li>

  </ul>
</div>

