

a {
  text-decoration: none; /* Quita el subrayado */
  color: inherit; /* Mantiene el color del texto del contenedor */
}


/*
.menu-button {
  margin: 20px;
  font-size: 20px;
  cursor: pointer;
}

.sidebar {
  position: absolute;
  left: -300px;
  width: 300px;
  height:100%;
  background-color:  #fcbc00;
  color: white;
  padding: 20px;
  transition: left 0.3s ease;
  z-index: 1000;
  overflow-y: auto;
}

  .sidebar.open {
    left: 0;
  }
#myTemplate {
  overflow: auto;
  display: flex;
  flex-direction: column;
}
.close-button {
  background: none;
  border: none;
  color: white;
  font-size: 24px;
  float: right;
  cursor: pointer;
}

.menu {
  list-style: none;
  padding: 0;
  margin-top: 50px;
}

  .menu li {
    margin: 10px 0;
  }

  .menu a {
    color: white;
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

.submenu {
  list-style: none;
  padding-left: 15px;
  margin-top: 5px;
}

  .submenu li {
    margin: 5px 0;
  }

.arrow {
  font-size: 12px;
}


p-drawer {
  height: 80%;
  background-color: red;

}
*/
