<ng-container *ngIf="equipo">
  <app-cabecera-titulo [titulo]="equipo.nombre"></app-cabecera-titulo>
<div class="nine mb-0 mt-0 text-center">



  <h1 class="mb-0 mt-2"><span><p-image src="{{fotoEmpresa}}" class="" alt="Image" width="250"></p-image></span></h1>

</div>


<img *ngIf="equipo.foto != ''" src="{{equipo.foto}}" alt="imagen" class="w-100 mt-5">




<div class="plantilla ">



  <div class="box mb-0" >
    <div class="border-round span" *ngFor="let jugador of equipo.jugadores; index as t" style="--i: {{t}}; --p: {{(360/equipo.jugadores.length)+'deg'}}; ">
      <app-jugador-view-invitado [jugador]="jugador" [jugadores]="equipo.jugadores.length" ></app-jugador-view-invitado>
    </div>
  </div>

</div>


<p-tabView>
  <p-tabPanel header="Plantilla">
    <div class="nine mt-5 text-center">

      <h1 class="">PLANTILLA</h1>
    </div>



    <ul class="auto-grid container">

      <li *ngFor="let jugador of equipo.jugadores; index as t">
        <app-jugador-view2 [jugador]="jugador"></app-jugador-view2>

      </li>

    </ul>











    <div class="nine mt-5 text-center">

      <h1 class="">CUERPO TÉCNICO</h1>
    </div>

    <ul class="auto-grid">
      <li *ngFor="let item of equipo.tecnicos; index as t">

        <h3>fasdfd</h3>

        <app-cuerpo-tecnico-view-invitado [tecnico]="item"></app-cuerpo-tecnico-view-invitado>




      </li>

    </ul>

  </p-tabPanel>
  <p-tabPanel header="Clasificación">
    <app-clasificacion-corta></app-clasificacion-corta>
  </p-tabPanel>

</p-tabView>




</ng-container>



<style>
  #app-loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: white;
    z-index: 9999;
  }
</style>




