<div class="footer">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-sm-4 col-xs-12">
        <div class="single_footer">
          <h4>Servicios</h4>
          <ul>
            <li><a href="#">Baloncesto</a></li>
            <li><a href="#">Atención al Cliente</a></li>
           
          </ul>
        </div>
      </div><!--- END COL -->
      <div class="col-md-4 col-sm-4 col-xs-12">
        <div class="single_footer single_footer_address">
          <h4>Enlaces de Páginas</h4>
          <ul>
            <li><a href="#">CLub</a></li>
            <li><a href="#">Noticias</a></li>
            <li><a href="#">Primer Equipo </a></li>
            <li><a href="#">Cantera</a></li>
            <li><a href="#">Empresas</a></li>
            <li><a href="#">únete</a></li>
            <li><a href="#">Calendario</a></li>
          </ul>
        </div>
      </div><!--- END COL -->
      <div class="col-md-4 col-sm-4 col-xs-12">
        
        <div class="social_profile">
          <ul>
            <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
            <li><a href="#"><i class="fab fa-google-plus-g"></i></a></li>
            <li><a href="#"><i class="fab fa-instagram"></i></a></li>
          </ul>
        </div>
      </div><!--- END COL -->
    </div><!--- END ROW -->
    <div class="row">
      <div class="col-lg-12 col-sm-12 col-xs-12">
        <p class="copyright">Copyright © 2010 <a href="#">C.B. Santomera</a>.</p>
      </div><!--- END COL -->
    </div><!--- END ROW -->
  </div><!--- END CONTAINER -->
</div>
