<div class="main mt-5">
  <h1>MIS EQUIPOS</h1>
  <ul class="cards">
    <li class="cards_item">
      <div class="card">
        <div class="card_image"><img src="https://localhost:7102/archivos/Temporadas/Temporada%2024-25/Equipos/37/foto_equipo_-317700851.jpeg"></div>
        <div class="card_content">
          <h2 class="card_title">C.B. SANTOMERA AMARILLO</h2>
          <p class="card_text">INFANTIL MASCULINO</p>

        </div>
      </div>
    </li>
    <li class="cards_item">
      <div class="card">
        <div class="card_image"><img src="https://localhost:7102/archivos/Temporadas/Temporada%2024-25/Equipos/39/foto_equipo_1199319551.jpeg"></div>
        <div class="card_content">
          <h2 class="card_title">C.B. SANTOMERA AMARILLO </h2>
          <p class="card_text">CADETE MASCULINO</p>
         
        </div>
      </div>
    </li>
    <li class="cards_item">
      <div class="card">
        <div class="card_image"><img src="https://localhost:7102/archivos/Temporadas/Temporada%2024-25/Equipos/41/foto_equipo_-176051996.jpeg"></div>
        <div class="card_content ">
          <h2 class="card_title">ECONEX C.B. SANTOMERA</h2>

          <p class="card_text">1º DIVISIÓN NACIONAL</p>
        </div>
      </div>
    </li>
  
  </ul>
</div>

